<!DOCTYPE html>
<html>
    <head>
        <meta name="layout" content="main" />
        <title></title>
    </head>
    <body>
        <g:form action="login">
            <div style="text-align:center">
                <label>Ingame nick:</label><input type="text" name="username">
            </div>
            <div style="text-align:center">
                <label>&nbsp;</label><input type="submit" value="Login" name="login">
            </div>
        </g:form>
    </body>
</html>
